<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SmartRooster project</title>
</head>
<body>
<h1>Ambient Intelligence 2018</h1>
<p>Welcome to my project {{ name }}</p>

{% if name=="" %}
<p><img src="{{ url_for('static', filename="Rooster-Crowing.png") }}"></p>
{% else %}
    <p>Your alarms:</p>
    <ul>
    {% for a in alarms %}
        <li>{{ a[1] }}</li>
    {% endfor %}

    </ul>
{% endif %}

{% if name=="" %}
<form action="{{ url_for('welcome') }}" method="post">
    <p>Enter name:
        <input type="text" name="username"/>
        <input type="submit" value="Login"/>
    </p>

</form>
{% else %}
    <p><a href="{{ url_for('logout') }}">Logout</a></p>
{% endif %}

<p>&copy; <a href="{{ url_for('about') }}">SmartRooster</a></p>
</body>
</html>